/* moods.css */

.moods {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 60px;
  margin-top: 25px;
}

.mood {
  display: flex;
  flex-direction: row; /* Change flex direction to row */
  border: 1px solid var(--color-primary);
  padding: 10px;
  align-items: center;
  margin: 10px 800px 15px 0;
  background-color: var(--color-bg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
}

.mood__id {
  font-weight: bold;
  margin-right: auto; /* Push the following elements to the right */
  margin-bottom: 5px;
}

.mood__title {
  font-size: 1.1rem;
  margin-top: 5px;
  color: var(--color-primary);
}

.mood__content {
  margin-top: 5px;
  color: var(--color-white);
}

.mood__email {
  margin-top: 5px;
  font-style: italic;
  color: var(--color-white);
}

.mood__delete {
  color: var(--color-primary);
  cursor: pointer;
}

/* Existing styles */

.mood-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.mood-form input,
.mood-form textarea {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
}

.mood-form button {
  padding: 8px 12px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mood-form input[type="date"],
.mood-form select,
.mood-form input[type="number"],
.mood-form textarea {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-bg);
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 999; /* Ensure the pop-up appears above other content */
  width: 100%;
  max-width: 400px;
}

.popup-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.popup-buttons button {
  padding: 8px 12px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}
