/* moods.css */

.moods {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 60px;
  margin-top: 25px;
}

.mood {
  display: flex;
  flex-direction: row; /* Change flex direction to row */
  border: 1px solid var(--color-primary);
  padding: 10px;
  align-items: center;
  margin: 10px 800px 15px 0;
  background-color: var(--color-bg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
}

.mood__id {
  font-weight: bold;
  margin-right: auto; /* Push the following elements to the right */
  margin-bottom: 5px;
}

.mood__title {
  font-size: 1.1rem;
  margin-top: 5px;
  color: var(--color-primary);
}

.mood__content {
  margin-top: 5px;
  color: var(--color-white);
}

.mood__email {
  margin-top: 5px;
  font-style: italic;
  color: var(--color-white);
}

.mood__delete {
  color: var(--color-primary);
  cursor: pointer;
}
